{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}
<h1 class="text-3xl md:text-5xl text-variant-2 font-black">{% translate "Sign Out" %}</h1>

<p>{% translate 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="text-white bg-variant-2 w-full py-2 px-6 font-bold hover:scale-105 duration-500 btn btn-danger" type="submit">{% translate 'Sign Out' %}</button>
</form>
{% endblock %}
