{% load static %}
{% include "snippets/ft.html" %}
<section class="w-full bg-dark text-white text-sm md:flex md:space-x-3 md:space-y-0 space-y-4 px-3 md:px-14 py-6 md:justify-between">
  <div class="md:w-2/3 divide-x-2 flex items-center space-x-3">
    <span hx-get="{% url 'faq' %}" hx-push-url="{% url 'faq' %}" hx-target="#main" class="cursor-pointer block pl-3">Faqs</span>
    <span class="block pl-3">Legal Documents</span>
    <span hx-get="{% url 'privacy' %}" hx-push-url="{% url 'privacy' %}" hx-target="#main" class="cursor-pointer block pl-3">Privacy</span>
  </div>
  <div class="flex-grow text-right">
    © 2020 Pamlicotrade Company. All rights reserved.
  </div>
</section>
