{% extends "base.html" %}
{% load static %}

{% block sidenav %}
{% endblock sidenav %}

{% block content %}
<section class="w-full px-3 md:px-14 py-6">
  <div class="rounded-md md:justify-between bg-dark text-white text-sm w-full md:flex md:items-center p-5">
    <span class="block">Trading involves substantial risk and may result in the loss of your invested/greater that your invested capital, respectively.</span>
    <h1 class="text-2xl font-black">Affiliate Program</h1>
  </div>
</section>


<!-- breif about the investments -->
<section class="w-screen px-3 md:px-14 md:flex md:items-center md:space-y-0 md:justify-between space-y-8 py-14 gap-4">
  <div class="md:w-2/3 w-full space-y-6">
    <h2 class="text-4xl md:text-5xl font-black text-variant-2">Affiliate Program</h2>
    <p class="text-xl text-dark font-semibold text-justify">
      We understand the value for referrals. We want to make sure that you are getting the best possible return on your investment. Therefore our referral program is open to all. We will reward you for every referral you make. You can earn up to $100 for 10 referrals a month.
    </p>
  </div>
</section>

<section class="w-screen py-12 px-14 md:px-64 md:flex text-center md:text-left md:items-start md:space-x-8 md:space-y-0 md:divide-x-2 md:divide-y-0 divide-y-2 space-y-4">
  <div class="md:w-1/4 w-full flex-grow">
    <h2 class="text-3xl font-black text-variant-2">Referal Link</h2>
    <p class="text-dark font-semibold">
      you can locate your referal link by login to your account and click on the "Referral Link" button. This will automatically copy your referal link ready to be shared or pasted in any social media platform.
    </p>
  </div>
  <div class="md:w-1/4 w-full flex-grow md:pt-0 pt-4 md:pl-12">
    <h2 class="text-3xl font-black text-variant-2">How to Refer</h2>
    <p class="text-dark font-semibold">
      To refer someone to our website, you can send them an email with your referal link to the website. You can also share the link on social media.
    </p>
  </div>
  <div class="md:w-1/4 w-full flex-grow md:pt-0 pt-4 md:pl-12">
    <h2 class="text-3xl font-black text-variant-2">How to Earn</h2>
    <p class="text-dark font-semibold">
      You will earn $100 for every referral you make. You can earn up to $100 for 10 referrals a month.
    </p>
  </div>
</section>
{% endblock content %}
