{% extends "base.html" %}
{% load static %}

{% block sidenav %}
{% endblock sidenav %}

{% block content %}
<section class="w-full px-3 md:px-14 py-6">
  <div class="rounded-md md:justify-between bg-dark text-white text-sm w-full md:flex md:items-center p-5">
    <span class="block">Trading involves substantial risk and may result in the loss of your invested/greater that your invested capital, respectively.</span>
    <h1 class="text-2xl font-black">Privacy</h1>
  </div>
</section>


<!-- breif about the investments -->
<section class="w-screen px-3 md:px-14 md:flex md:items-center md:space-y-0 md:justify-between space-y-8 py-14 gap-4">
  <div class="md:w-2/3 w-full space-y-6">
    <h2 class="text-4xl md:text-5xl font-black text-variant-2">Privacy Policy</h2>
    <p class="text-xl text-dark font-semibold text-justify">
      Your privacy is of greate importance to us. We never want your trust to diminish while trading or revealing certain financial data to our platform. To ensure you privacy is intact we have detailed the informations we collect from you and how we use them. Please take your time when going through them.
    </p>
  </div>
</section>

<section class="w-screen py-12 px-3 md:px-14 text-left space-y-4">
  <div class="w-full bg-light">
    <div class="w-full bg-variant-2 text-white font-bold text-2xl p-4 rounded-t-md">
      Our Privacy Policy
    </div>
    <div class="w-full font-semibold text-xl p-4 md:text-justify">
      <h4 class="text-2xl font-black">Introduction</h4>
      <p class="text-dark space-y-3 py-6">
        The purpose of this statement is to establish guidelines for the investment of the Foundation’s assets. In the process
        of identifying the investment strategies to be used, these guidelines provide consistency in the management of the
        portfolio. This policy driven approach reduces the Board’s, Investment Committees of the Board, and investment
        manager’s propensity to act impulsively during volatile markets. The policy furthermore provides parameters for
        the portfolio by providing guidelines for selecting appropriate investments and classes of assets. It is recognized that
        from time to time the Board of Directors’ attitudes, expectations and objectives may change. Therefore, this policy
        statement is intended to be used as a guideline rather than a rigid statement of policy from which there can be no
        deviation.
      </p>
      <h4 class="text-2xl font-black">Investment Philosophy</h4>
      <p class="text-dark space-y-3 py-6">
        The Board’s investment philosophy is to exercise ordinary business care and prudence in its investment of
        Foundation assets considering the long and short-term needs of the Foundation in carrying out its charitable
        purposes, its present and anticipated financial requirements, expected total return on its investments, price level
        trends, and general economic conditions. The Board recognizes that the uncertainty of future events, volatility of
        investment assets, and the potential loss in purchasing power are present to some degree with all types of investments.
        While high levels of risk are to be avoided, the assumption of a moderate level risk is warranted and encouraged in
        order to allow the opportunity to achieve satisfactory results consistent with the objectives and investment philosophy
        of the Foundation.
        <br>
        Modern Portfolio Theory will form the basis of the investment philosophy. Correlation of asset classes will be applied
        to reduce risk when possible and remain consistent with the portfolio’s investment goal. Future variations may occur
        as new asset classes become available or as the investment advisor makes moderate adjustments
      </p>
    </div>
  </div>
</section>
{% endblock content %}
